<tr>
  <td><%= brew_sheet.brew_date %></td>
  <td><%= brew_sheet.name %></td>
  <td><%= brew_sheet.mash_temperature_celsius %></td>
  <td><%= brew_sheet.fermentation_volume_litres %></td>
  <td><%= brew_sheet.original_gravity %></td>
  <td><%= brew_sheet.final_gravity %></td>
  <td><%= brew_sheet.boil_time_minutes %></td>
</tr>