<%= form_for([@brewery, @brew, @brew.brew_sheets.build]) do |f| %>
  <fieldset>
    <legend>Brew a beer from this recipe</legend>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :brewer %>
        <%= f.text_field :brewer %>
      </li>
      <li>
        <%= f.label :brew_date %>
        <%= f.datetime_select :brew_date %>
      </li>
      <li class="submit">
        <%= f.submit %>
      </li>
    </ol>
<% end %>
