<div class="span-19" id="content">
  <h2 class="prepend-5 prepend-top">Edit <%= @brew_sheet.name %></h2>

  <blockquote>A beer-style brewed by <%= @brew_sheet.brewer %>
    on <%= @brew_sheet.brew_date.strftime('%Y-%m-%d') %> from the
    <%= link_to @brew.name, brewery_brew_path(@brewery, @brew) %> recipe.</blockquote>
  <blockquote><%= render "notes" unless @brew_sheet.notes.blank? %></blockquote>

  <p id="notice"><%= notice %></p>

  <%= form_for([@brewery, @brew, @brew_sheet]) do |f| %>

      <table class="brew_sheet fix-align-char">
        <col>
        <col align="char" char=".">
        <col>
        <thead>
        <tr>
          <th></th>
          <th>Recipe</th>
          <th>Calc</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Mash temperature celsius:</th>
          <td><%= @brew.mash_temperature_celsius %></td>
          <td><%= f.text_field :mash_temperature_celsius %></td>
        </tr>

        <tr>
          <th>Boil time minutes:</th>
          <td><%= @brew.boil_time_minutes %></td>
          <td><%= f.text_field :boil_time_minutes %></td>
        </tr>

        <tr>
          <th>Achieved efficiency percentage:</th>
          <td><%= @brewery.mash_efficiency_percentage %></td>
          <td><%= @brew_sheet.achieved_efficiency_percentage %></td>
        </tr>

        <tr>
          <th>Pitching temperature celsius:</th>
          <td></td>
          <td><%= f.text_field :pitching_temperature_celsius %></td>
        </tr>

        <tr>
          <th>Original gravity:</th>
          <td><%= @brew.original_gravity %></td>
          <td><%= f.text_field :original_gravity %></td>
        </tr>

        <tr>
          <th>Final gravity:</th>
          <td><%= @brew.final_gravity %></td>
          <td><%= f.text_field :final_gravity %></td>
        </tr>

        <tr>
          <th>Est. ABV%:</th>
          <td><%= number_with_precision(@brew.alcohol_by_volume, :precision => 1) %>%</td>
          <td><%= number_with_precision(@brew_sheet.alcohol_by_volume, :precision => 1) %>%</td>
        </tr>

        <tr>
          <th>Fermentation volume litres:</th>
          <td><%= @brew.fermentation_volume_litres %></td>
          <td><%= f.text_field :fermentation_volume_litres %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit %></td>
        </tr>
        </tbody>
      </table>
  <% end %>

  <%= link_to 'Back', brewery_brew_path(@brewery, @brew) %>

</div>