<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brew_sheet.name %>
</p>

<p>
  <b>Brew date:</b>
  <%= @brew_sheet.brew_date.strftime('%Y-%m-%d') %>
</p>

<p>
  <b>Brewer:</b>
  <%= @brew_sheet.brewer %>
</p>

<p>
  <b>Mash temperature celsius:</b>
  <%= @brew_sheet.mash_temperature_celsius %>
</p>

<p>
  <b>Pitching temperature celsius:</b>
  <%= @brew_sheet.pitching_temperature_celsius %>
</p>

<p>
  <b>Original gravity:</b>
  <%= @brew_sheet.original_gravity %>
</p>

<p>
  <b>Final gravity:</b>
  <%= @brew_sheet.final_gravity %>
</p>

<p>
  <b>Est. ABV%:</b>
  <%= number_with_precision(@brew_sheet.alcohol_by_volume, :precision => 1) %>%
</p>

<p>
  <b>Fermentation volume litres:</b>
  <%= @brew_sheet.fermentation_volume_litres %>
</p>

<p>
  <b>Boil time minutes:</b>
  <%= @brew_sheet.boil_time_minutes %>
</p>

<p>
  <b>Achieved efficiency percentage:</b>
  <%= @brew_sheet.achieved_efficiency_percentage %>
</p>


<p>
  <b>Notes:</b>
  <%= @brew_sheet.notes %>
</p>


<%= link_to 'Edit', edit_brewery_brew_brew_sheet_path(@brewery, @brew, @brew_sheet) %> |
<%= link_to 'Back', brewery_brew_path(@brewery, @brew) %>
