<div class="span-19" id="content">
  <h2 class="prepend-5 prepend-top"><%= @brew_sheet.name %></h2>

  <blockquote>A beer-style by <%= @brew_sheet.brewer %></blockquote>
  <blockquote><%= @brew_sheet.notes %></blockquote>

  <p id="notice"><%= notice %></p>

  <ol>
  <li>
    <b>Brew date:</b>
    <%= @brew_sheet.brew_date.strftime('%Y-%m-%d') %>
  </li>

  <li>
    <b>Mash temperature celsius:</b>
    <%= @brew_sheet.mash_temperature_celsius %>
  </li>

  <li>
    <b>Pitching temperature celsius:</b>
    <%= @brew_sheet.pitching_temperature_celsius %>
  </li>

  <li>
    <b>Original gravity:</b>
    <%= @brew_sheet.original_gravity %>
  </li>

  <li>
    <b>Final gravity:</b>
    <%= @brew_sheet.final_gravity %>
  </li>

  <li>
    <b>Est. ABV%:</b>
    <%= number_with_precision(@brew_sheet.alcohol_by_volume, :precision => 1) %>%
  </li>

  <li>
    <b>Fermentation volume litres:</b>
    <%= @brew_sheet.fermentation_volume_litres %>
  </li>

  <li>
    <b>Boil time minutes:</b>
    <%= @brew_sheet.boil_time_minutes %>
  </li>

  <li>
    <b>Achieved efficiency percentage:</b>
    <%= @brew_sheet.achieved_efficiency_percentage %>
  </li>

  <%= link_to 'Edit', edit_brewery_brew_brew_sheet_path(@brewery, @brew, @brew_sheet) %> |
  <%= link_to 'Back', brewery_brew_path(@brewery, @brew) %>
  </ol>
</div>