<tr>
  <td><%= brew.name %></td>
  <td><%= brew.brewer %></td>
  <td><%= link_to 'Show', brewery_brew_path(brew.brewery, brew) %></td>
  <td>
    <% if can? :edit, brew %>
        <%= link_to 'Edit', edit_brewery_brew_path(brew.brewery, brew) %>
    <% end %>
  </td>
  <td>
    <% if can? :destroy, brew %>
        <%= link_to 'Destroy', [brew.brewery, brew], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
</tr>