<tr>
  <td><%= brew.name %></td>
  <td><%= brew.brewer %></td>
  <td><%= link_to 'Show', brew %></td>
  <td><%= link_to 'Edit', edit_brew_path(brew) %></td>
  <td><%= link_to 'Destroy', [brew.brewery, brew], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
