<tr>
  <td><%= brew.name %></td>
  <td><%= brew.brewer %></td>
  <td><%= link_to 'Show', brewery_brew_path(brew.brewery, brew) %></td>
  <td><%= link_to 'Edit', edit_brewery_brew_path(brew.brewery, brew) %></td>
  <td><%= link_to 'Destroy', [brew.brewery, brew], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>