<%= form_for(@brew) do |f| %>
  <% if @brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
      <% @brew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brewer %><br />
    <%= f.text_field :brewer %>
  </div>
  <div class="field">
    <%= f.label :original_gravity %><br />
    <%= f.text_field :original_gravity %>
  </div>
  <div class="field">
    <%= f.label :final_gravity %><br />
    <%= f.text_field :final_gravity %>
  </div>
  <div class="field">
    <%= f.label :fermentation_volume_litres %><br />
    <%= f.text_field :fermentation_volume_litres %>
  </div>
  <div class="field">
    <%= f.label :boil_time_minutes %><br />
    <%= f.text_field :boil_time_minutes %>
  </div>
  <div class="field">
    <%= f.label :brewery %><br />
    <%= f.text_field :brewery %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
