<div class="span-19" id="content">
  <h2 class="prepend-5 prepend-top"><%= @brew.name %></h2>

  <blockquote class="prepend-5">A beer-style by <%= @brew.brewer %></blockquote>

  <div class="span-18 last">
    <%= render "notes" unless @brew.notes.blank? %>
  </div>
  <hr/>
  <p id="notice"><%= notice %></p>

  <div class="span-6 colborder">
    <%= render @brewery %>
  </div>

  <div class="span-5 colborder">

    <table width="300">
      <COLGROUP>
        <COL>
        <COL align="char" char=".">
        <tbody>
        <tr>
          <th>Mash temperature:</th>
          <td><%= link_to_if(can?(:edit, @brew), @brew.mash_temperature_celsius, edit_brewery_brew_path(@brew.brewery, @brew)) %></td>
        </tr>
        <tr>
          <th>Mash-In volume litres:</th>
          <td class="calc"><%= number_with_precision(@brew.mash_in_volume_litres(@brew.weight_of_total_grain_bill_kg), :precision => 2) %></td>
        </tr>
        <tr>
          <th>Mash-Out volume litres:</th>
          <td class="calc"><%= number_with_precision(@brew.mash_out_volume_litres, :precision => 2) %></td>
        </tr>
        <tr>
        <tr>
          <th>Boil time minutes:</th>
          <td><%= link_to_if(can?(:edit, @brew), @brew.boil_time_minutes, edit_brewery_brew_path(@brew.brewery, @brew)) %></td>
        </tr>
        <th>Post-Boil volume litres:</th>
        <td class="calc"><%= number_with_precision(@brew.post_boil_volume_litres, :precision => 2) %></td>
        </tr>
        <tr class="bottom">
          <th>Fermentation volume litres:</th>
          <td><%= link_to_if(can?(:edit, @brew), @brew.fermentation_volume_litres, edit_brewery_brew_path(@brew.brewery, @brew)) %></td>
        </tr>

        <tr>
          <th>Original gravity:</th>
          <td><%= link_to_if(can?(:edit, @brew), @brew.original_gravity, edit_brewery_brew_path(@brew.brewery, @brew)) %></td>
        </tr>
        <tr>
          <th>Final gravity:</th>
          <td><%= link_to_if(can?(:edit, @brew), @brew.final_gravity, edit_brewery_brew_path(@brew.brewery, @brew)) %></td>
        </tr>
        <tr>
          <th>Est. ABV%:</th>
          <td class="calc"><%= number_with_precision(@brew.alcohol_by_volume, :precision => 1) %>%</td>
        </tr>
        </tbody>
    </table>
  </div>
  <hr/>

  <div class="span-9 colborder">
    <%= render "fermentables" %>
  </div>

  <div class="span-9 last">
    <%= render "hop_additions" %>
  </div>
  <hr/>
  <div class="span-18 last">
    <%= render "brew_sheets" %>
  </div>

</div>
