<div class="span-19 colborder" id="content">
  <h2 class="prepend-5 prepend-top"><%= @brew.name %></h2>

  <blockquote class="prepend-5">A beer-style by <%= @brew.brewer %></blockquote>

  <p id="notice"><%= notice %></p>

  <div class="span-6 colborder">
    <%= render @brewery %>
  </div>

  <div class="span-12 last">

    <table width="300">
      <COLGROUP>
      <COL><COL align="char" char=".">
      <tbody>
      <tr>
        <th>Boil time minutes:</th>
        <td><%= @brew.boil_time_minutes %></td>
      </tr>
      <tr>
        <th>Mash-In volume litres:</th>
        <td class="calc"><%= number_with_precision(@brew.mash_in_volume_litres(@brew.weight_of_total_grain_bill_kg), :precision => 2) %></td>
      </tr>
      <tr>
        <th>Mash-Out volume litres:</th>
        <td class="calc"><%= number_with_precision(@brew.mash_out_volume_litres, :precision => 2) %></td>
      </tr>
      <tr>
        <th>Post-Boil volume litres:</th>
        <td class="calc"><%= number_with_precision(@brew.post_boil_volume_litres, :precision => 2) %></td>
      </tr>
      <tr class="bottom">
        <th>Fermentation volume litres:</th>
        <td><%= @brew.fermentation_volume_litres %></td>
      </tr>

      <tr>
        <th>Original gravity:</th>
        <td><%= @brew.original_gravity %></td>
      </tr>
      <tr>
        <th>Final gravity:</th>
        <td><%= @brew.final_gravity %></td>
      </tr>
      <tr>
        <th>Est. ABV%:</th>
        <td class="calc"><%= number_with_precision(@brew.alcohol_by_volume, :precision => 1) %>%</td>
      </tr>
      </tbody>
    </table>


    <%= link_to 'Edit', edit_brewery_brew_path(@brew.brewery, @brew) %> |
    <%= link_to 'Back', brewery_path(@brew.brewery) %>
  </div>
  <hr/>

  <div class="span-9 colborder">
    <%= render "fermentables" %>
  </div>
  
  <div class="span-9 last">
    <%= render "hop_additions" %>
  </div>

</div>
