<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brew.name %>
</p>

<p>
  <b>Brewer:</b>
  <%= @brew.brewer %>
</p>

<p>
  <b>Original gravity:</b>
  <%= @brew.original_gravity %>
</p>

<p>
  <b>Final gravity:</b>
  <%= @brew.final_gravity %>
</p>

<p>
  <b>Fermentation volume litres:</b>
  <%= @brew.fermentation_volume_litres %>
</p>

<p>
  <b>Boil time minutes:</b>
  <%= @brew.boil_time_minutes %>
</p>

<p>
  <b>Brewery:</b>
  <%= link_to @brew.brewery.name, brewery_path(@brew.brewery) %>
</p>

<%= link_to 'Edit', edit_brewery_brew_path(@brew.brewery, @brew) %> |
<%= link_to 'Back', brewery_path(@brew.brewery) %>
<hr />

<h3>fermentables:</h3>

<table>
  <% @brew.fermentables.each do |fermentable| %>
    <%= render fermentable %>
  <% end %>
</table>

<h4>Add a new fermentable:</h4>
<%= render "fermentables/form" %>

<h3>hop additions:</h3>

<table>
  <% @brew.hop_additions.each do |hop_addition| %>
    <%= render hop_addition %>
  <% end %>
</table>

<h4>Add a new hop addition:</h4>
<%= render "hop_additions/form" %>
