<div class="span-19 colborder" id="content">
  <h2 class="prepend-5 prepend-top"><%= @brew.name %></h2>

  <blockquote class="prepend-5">A beer-style by <%= @brew.brewer %></blockquote>

  <p id="notice"><%= notice %></p>

  <div class="span-6 colborder">
    <%= render @brewery %>
  </div>

  <div class="span-12 last">

    <table width="300">
      <tbody>
      <tr><th>Original gravity: </th><td><%= @brew.original_gravity %></td></tr>
      <tr><th>Final gravity: </th><td><%= @brew.final_gravity %></td></tr>
      <tr><th>Est. ABV%: </th><td class="calc"><%= number_with_precision(@brew.alcohol_by_volume, :precision => 1) %>%</td></tr>
  </tbody>
    </table>

    <p>
      <b>Fermentation volume litres: </b><%= @brew.fermentation_volume_litres %><br/>
      <b>Boil time minutes: </b><%= @brew.boil_time_minutes %>
    </p>


    <%= link_to 'Edit', edit_brewery_brew_path(@brew.brewery, @brew) %> |
    <%= link_to 'Back', brewery_path(@brew.brewery) %>
  </div>
  <hr/>
  <div class="span-9 colborder">
    <h4 class="prepend-2">fermentables:</h4>

    <table>
      <% @brew.fermentables.each do |fermentable| %>
          <%= render fermentable %>
      <% end %>
    </table>

    <h4>Add a new fermentable:</h4>
    <%= render "fermentables/form" %>

  </div>
  <div class="span-9 last">
    <h4 class="prepend-2">hop additions:</h4>

    <table>
      <% @brew.hop_additions.each do |hop_addition| %>
          <%= render hop_addition %>
      <% end %>
    </table>

    <h4>Add a new hop addition:</h4>
    <%= render "hop_additions/form" %>
  </div>

</div>
