<%= form_for([@brewery, @brew, @brew.fermentables.build]) do |f| %>
    <fieldset>
      <legend>Add a new Fermentable</legend>
      <ol>
        <li>
          <%= f.label :mash %>
          <%= f.check_box :mash %>
        </li>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, :size => 17 %>
        </li>
        <li>
          <%= f.label :points_per_kg_per_litre %>
          <%= f.text_field :points_per_kg_per_litre, :size => 17 %>
        </li>
        <li>
          <%= f.label :weight_in_kg %>
          <%= f.text_field :weight_in_kg, :size => 17 %>
        </li>
        <li class="submit">
          <%= f.submit %>
        </li>
      </ol>
    </fieldset>
<% end %>
