<%= form_for([@brewery, @brew, @brew.hop_additions.build]) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :alpha_acid_percentage %>
    <%= f.text_field :alpha_acid_percentage %>
  </div>
  <div class="field">
    <%= f.label :weight_grams %>
    <%= f.text_field :weight_grams %>
  </div>
  <div class="field">
    <%= f.label :boil_time_minutes %> 
    <%= f.text_field :boil_time_minutes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
