<tr>
  <td class="right_justify"><%= link_to_if(can?(:edit, hop_addition), number_with_precision(hop_addition.boil_time_minutes, :precision => 0), edit_brewery_brew_hop_addition_path(hop_addition.brew.brewery, hop_addition.brew, hop_addition)) %></td>
  <td><%= link_to_if(can?(:edit, hop_addition), hop_addition.name, edit_brewery_brew_hop_addition_path(hop_addition.brew.brewery, hop_addition.brew, hop_addition)) %></td>
  <td class="right_justify"><%= hop_addition.alpha_acid_percentage %>%</td>
  <td class="right_justify"><%= hop_addition.weight_grams %></td>
  <td class="right_justify calc"><%= number_with_precision(hop_addition.IBU, :precision => 2) %></td>
  <td>
    <% if can? :destroy, hop_addition %>
        <%= link_to 'x', [hop_addition.brew.brewery, hop_addition.brew, hop_addition], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </td>
</tr>
