<tr>
  <td><%= hop_addition.name %></td>
  <td><%= hop_addition.alpha_acid_percentage %></td>
  <td><%= hop_addition.weight_grams %></td>
  <td><%= hop_addition.boil_time_minutes %></td>
  <td><%= link_to 'Show', brewery_brew_hop_addition_path(hop_addition.brew.brewery, hop_addition.brew, hop_addition) %></td>
  <td><%= link_to 'Edit', edit_brewery_brew_hop_addition_path(hop_addition.brew.brewery, hop_addition.brew, hop_addition) %></td>
  <td><%= link_to 'Destroy', [hop_addition.brew.brewery, hop_addition.brew, hop_addition], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
