<p>
  <b>Brewery: </b><%= link_to @brew.brewery.name, brewery_path(@brew.brewery) %><br/>
  <b>Head brewer: </b><%= @brewery.head_brewer %>
</p>

<table width="300">
  <tbody>
  <tr>
    <th>Mash efficiency percentage:</th>
    <td><%= @brewery.mash_efficiency_percentage %>%</td>
  </tr>
  <tr>
    <th>Volume lost to mash litres per kg:</th>
    <td><%= @brewery.volume_lost_to_mash_litres_per_kg %></td>
  </tr>
  <tr>
    <th>Boil evaporation rate litres per hour:</th>
    <td><%= @brewery.evaporation_rate_litres_per_hour %></td>
  </tr>
  <tr>
    <th>Kettle tax litres:</th>
    <td><%= @brewery.kettle_tax_litres %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>

