<%= form_for(@brewery) do |f| %>
    <% if @brewery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

          <ul>
            <% @brewery.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend>Edit Brewery Details</legend>
      <ol>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :head_brewer %>
          <%= f.text_field :head_brewer %>
        </li>
        <li>
          <%= f.label :mash_efficiency_percentage %>
          <%= f.text_field :mash_efficiency_percentage %>
        </li>
        <li>
          <%= f.label :volume_lost_to_mash_litres_per_kg %>
          <%= f.text_field :volume_lost_to_mash_litres_per_kg %>
        </li>
        <li>
          <%= f.label :evaporation_rate_litres_per_hour %>
          <%= f.text_field :evaporation_rate_litres_per_hour %>
        </li>
        <li>
          <%= f.label :kettle_tax_litres %>
          <%= f.text_field :kettle_tax_litres %>
        </li>
        <li class="submit">
          <%= f.submit %>
        </li>
    </fieldset>
    </ol>
<% end %>
