<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brewery.name %>
</p>

<p>
  <b>Head brewer:</b>
  <%= @brewery.head_brewer %>
</p>

<p>
  <b>Mash efficiency percentage:</b>
  <%= @brewery.mash_efficiency_percentage %>
</p>

<p>
  <b>Volume lost to mash litres per kg:</b>
  <%= @brewery.volume_lost_to_mash_litres_per_kg %>
</p>

<p>
  <b>Kettle tax litres:</b>
  <%= @brewery.kettle_tax_litres %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>

<hr>

<h3>brew recipes:</h3>

<table>
  <% @brewery.brews.each do |brew| %>
    <%= render brew %>
  <% end %>
</table>
<br />

<h4>Add a new recipe:</h4>
<%= render "brews/form" %>

